  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Karla', sans-serif;
}
.left{
    background-image: url(images/oxana-v-qoAIlAmLJBU-unsplash.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 50%;
}

.logo{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 255, 240, 0.651) ;
    gap: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
.logo img{
    height: 15vh;
    width: auto;
    padding-left: 100px;
      
}
 h1{
   font-family: 'Bahiana', cursive;
    color:black;
    justify-content: center;
    font-size: 5vh;
    letter-spacing: 10px;
    padding-right: 100px;
 }

 .left .credits {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
 }
 .left .credits a,
 .account a{
    color: rgb(19, 0, 104);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;    
 }

 .left .credits a:hover,
 .account a:hover{
    border-bottom: 1px solid;
    color: rgb(19, 0, 104);
   

 }
 .right {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
 }
.upper_text{
    font-size: 2.5vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;

}
 .form_body {
    background-color: #b2ceb863;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    gap: 30px;
 }
 input{
    width: 300px;
    padding: 10px 5px;
    flex-wrap: wrap;
    
    
 }

 input:focus{
    outline: none;
    border: 2px solid rgb(105, 6, 6);
    box-shadow: rgba(150, 106, 10, 0.418) 1px 1px 5px;
   
 }

 .row {
    display: flex;
    gap: 100px;
    
 }

 
 .field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 12px 0;
 }

 .btn{
    margin-top: 20px;
 }

 button{
    padding: 10px 15px;
    display: block;
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
 }

 button:hover{
    outline: none;
    border: 1px solid rgb(105, 6, 6);
    box-shadow: rgba(150, 106, 10, 0.418) 1px 1px 5px;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
 }

 input::placeholder{
    font-family: 'IBM Plex Mono', monospace;
 }

 label{
    font-weight: 600;
 }

 #error{
    color: red;
    
 }